@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;800&display=swap');

.login-D {
    width: 50vw;
    height: 100vh;
}

.login-E {
    width: 50%;
    height: 100%;
}

.box {
    border-radius: 8px;
    background: white;
    padding: 50px 50px;
    position: absolute;
    width: 25vw;
    height: 50vh;
    left: 10vw;
    top: 20vh;
}


.text-login-email {
    display: flex;
    flex-direction: column;
    align-self: start;
    justify-items: center;
    box-sizing: border-box;
    margin: 10px 0px;
    text-transform: uppercase;
    transform: 0.5s;
}

.text-login-email>input {
    border: none;
    outline: none;
    width: 90%;
    border-radius: 10px;
    padding: 15px;
    background: #D9D9D9;
    box-sizing: border-box;
    font-family: 'Poppins';
    font-size: 12px;
}

.text-login-senha {
    display: flex;
    flex-direction: column;
    align-self: start;
    justify-items: center;
    margin: 10px 0px;
}

.text-login-senha>input {
    border: none;
    outline: none;
    width: 90%;
    border-radius: 10px;
    padding: 15px;
    background: #D9D9D9;
    box-sizing: border-box;
    font-family: 'Poppins';
    font-size: 12px;
}




.titulos-1-E {
    text-align: center;
    align-items: center;
    justify-items: center;
    font-family: 'Poppins';
    font-size: 20px;

}

.btn {
    position: absolute;
    border: none;
    width: 180px;
    height: 35px;
    left: 9vw;
    top: 80%;
    font-family: 'Poppins';
    font-size: 16px;
    background: #407BFF;
    color: white;
    border-radius: 8px;
    cursor:pointer; 
    transition: background-color 0.2s;
}

.btn:hover{
    background-color:  #00E78D;;
}

.btn:active{
    color: #ecf1ef;
    background-color: #00ff4c;
}

.login-main {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
}

.img-l-D {
    position: absolute;
    align-items: center;
    width: 35vw;
    height: 85vh;
    top: 10%;
}

.titulos-l-D {
    font-family: 'Poppins';
    font-size: 50px;
    position: absolute;
    align-items: center;
    justify-items: center;
    width: 300px;
    top: 5vw;
    left: 60%;
    color: white;
}



.box-color {
    position: absolute;
    width: 100vw;
    height: 40%;
    left: 0px;
    top: 60vh;
    background: #00647D;
}

.box-color-top {
    position: absolute;
    width: 100vw;
    height: 65%;
    left: 0px;
    top: 0vh;
    background: #00E78D;
}
